body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-widh{
    width: 50%;
    padding-left: 2%;
}
.half-widh img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5pxs;
    font-weight: 700;
    
}